[Unit]
Description=Change permissions for backlight file
After=multi-user.target

[Service]
Type=oneshot
ExecStart=sh -c '/usr/bin/chmod a+rw $(grep Device=/sys /etc/BacklightTooler.conf | sed "s/.*=//g")'

[Install]
WantedBy=multi-user.target
