[Unit]
Description=Change permissions for backlight file
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/backlight-tooler-change-permissions

[Install]
WantedBy=multi-user.target
